<h1 class="title">Bienvenido al CoderChat comunitario</h1>
<div class="chat-container">
    <div id="messageLogs" class="chat">
    </div>
</div>
<div class="chatInterface">
    <input id="chatBox" class="chatBox">
    <button id="sendChat" class="sendChat" type="submit"><img width="20px" src="/images/play-solid.jpg" alt="send-button"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>